<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../../../static/theme/css/bootstrap.css"><!--debug-->
<!--Стандартный заголовок страницы-->
<header th:fragment="headerStandart">
    <div sec:authorize="isAuthenticated()" th:replace="includes/components/header :: navDiv"></div>
    <div th:replace="includes/components/header :: loginDiv"></div>
</header>
<!--блок с ссылками - авторизацией / провилем-->
<div th:fragment="loginDiv" class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{~/login}" class="btn  btn-success">login</a>
        <a th:href="@{~/signup}" class="btn btn-primary">signup</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{~/user/profile}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-user"></span> profile</a>
        <a th:href="@{~/logout}" class="btn btn-xs btn-warning "><span class="glyphicon glyphicon-log-out"></span> logout</a>
    </div>
</div>
<!--навигационное меню страниц-->
<div th:fragment="navDiv" class="col-lg-10 col-sm-10 col-xs-10 col-md-10">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li th:replace="includes/components/header :: navLiIconed('/c/main','Главная','glyphicon-home')"></li>
            <li th:replace="includes/components/header :: navLiIconed('/c/upload','Загрузить','glyphicon-arrow-up')"></li>
            <li th:replace="includes/components/header :: navLiIconed('/c/student','Студенты','glyphicon-education')"></li>
        </ul>
    </div>
</div>
<ul><!-- для того чтоб убрать подчеркивание li элементов-->
    <!--элемент навигационного меню без иконки-->
    <li th:fragment="navLi(liAddr,liStr)" th:replace="includes/components/header :: navLiIconed(${liAddr},${liStr},null)">
    </li>
    <!--элемент навигационного меню с иконкой-->
    <li th:fragment="navLiIconed(liAddr,liStr,iconName)">
        <span th:if="${#strings.startsWith('__${#httpServletRequest.requestURI}__','__${liAddr}__')}"
              th:text="' '+${liStr}"
              th:class="'center-block text-center glyphicon '+${iconName}">if</span>
        <a th:unless="${#strings.startsWith('__${#httpServletRequest.requestURI}__','__${liAddr}__')}"
           th:href="@{${liAddr}}" th:text="' '+${liStr}"
           th:class="'glyphicon '+${iconName}">a</a>
    </li>
</ul>
</html>