<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!--/*@thymesVar id="sessionEntity" type="com.tr1nksgroup.model.entities.WorkSessionEntity"*/-->
<!--<li th:fragment="workSessionLi(sessionEntity)">-->
    <!--&lt;!&ndash;/*@thymesVar id="name" type="java.lang.String"*/&ndash;&gt;-->
    <!--<div th:text="${sessionEntity.name}"></div>-->
    <!--&lt;!&ndash;/*@thymesVar id="startDate" type="java.util.Date"*/&ndash;&gt;-->
    <!--<div th:text="${sessionEntity.startDate}"></div>-->
    <!--&lt;!&ndash;/*@thymesVar id="lastActivityDate" type="java.util.Date"*/&ndash;&gt;-->
    <!--<div th:text="${sessionEntity.lastActivityDate}"></div>-->
<!--</li>-->