<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="includes/service/head :: normal(pageTitle='Main')">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/theme/css/bootstrap.css"><!--debug-->
</head>
<body>
<header>
    <div sec:authorize="isAuthenticated()" th:replace="includes/components/header :: navDiv (pageAddress='/c/main')"></div>
    <div th:replace="includes/components/header :: loginDiv"></div>
</header>
<div></div>
<footer></footer>
</body>
</html>