<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/service/head :: normal(pageTitle='Students')">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/theme/css/bootstrap.css"><!--debug-->
</head>
<style th:replace="includes/service/cssIncludes :: inputStyle"></style>
<body>
<header th:include="includes/components/header :: headerStandart"></header>
<div>
    <!--/*@thymesVar id="studentFilterModel" type="com.tr1nksgroup.model.models.filters.FilterModel"*/-->
    <th:block th:if="${studentFilterModel!=null}">
        <div id="filter-div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form th:action="@{/c/student/filter}" th:object="${studentFilterModel}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" method="post">
                <div th:replace="includes/components/filter :: filtersDiv(${studentFilterModel})"></div>
                <button type="submit" class="btn btn-primary col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">Фильтровать</button>
            </form>
        </div>
    </th:block>
    <!--/*@thymesVar id="studentModel" type="com.tr1nksgroup.model.models.person.student.StudentModel"*/-->
    <!--<br>-->
    <!--<hr >-->
    <hr class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <th:block th:if="${studentModel!=null}">
        <div id="studentTable-table-div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <form action="#" th:object="${studentModel}" method="post">
                <!--<button type="submit" class="btn btn-success">subm</button>-->
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" onclick="genSelect(this,'student-table-select-checkbox')" class="form-control input-sm" title="выделить/снять выделение всех">
                        </td>
                        <td><span class="form-control input-sm">№</span></td>
                        <td><span class="form-control input-sm">Фамилия</span></td>
                        <td><span class="form-control input-sm">Имя</span></td>
                        <td><span class="form-control input-sm">Отчество</span></td>
                        <td><span class="form-control input-sm">Группа</span></td>
                        <th:block th:if="*{showHiddenColumns}">
                            <td><span class="form-control input-sm">ЕДБО</span></td>
                        </th:block>
                        <td><span class="form-control input-sm">e-mail login</span></td>
                        <th:block th:if="*{showHiddenColumns}">
                            <td><span class="form-control input-sm">Пароль</span></td>
                        </th:block>
                        <td><span class="form-control input-sm">Бюджет</span></td>
                        <td><span class="form-control input-sm">Imagine</span></td>
                        <td><span class="form-control input-sm">Office</span></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="studentEntityTableWrapper,studentEntityWrapperIter:*{studentEntityTableWrappers}">
                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).NUM.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input type="checkbox" class="form-control input-sm student-table-select-checkbox"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].checked}">

                        <input hidden readonly type="hidden" class="d-none" th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.id}">
                        <th:block th:unless="*{showHiddenColumns}">
                            <input readonly hidden type="hidden" class="d-none"
                                   th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.code}">
                            <input readonly hidden type="hidden" class="d-none"
                                   th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.initPassword}">
                        </th:block>
                        </td>
                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).NUM.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <span class="form-control input-sm" th:text="${studentEntityWrapperIter.count}"></span></td>
                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).SURNAME.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input th:readonly="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}" type="text" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.surname}"></td>

                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).NAME.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input th:readonly="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}" type="text" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.name}"></td>

                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).PATRONYMIC.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input th:readonly="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}" type="text" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.patronymic}"></td>


                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).GROUP_OR_CATHEDRA.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>

                        <th:block th:if="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}">
                            <input type="hidden" class="d-none"
                                   th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.groupEntity}">
                            <span class="form-control input-sm"
                                  th:text="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.groupEntity.cipher}"></span>
                        </th:block>
                        <th:block th:unless="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}">
                            <select class="form-control input-sm" th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.groupEntity}">
                                <option selected th:value="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.groupEntity.id}"
                                        th:text="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.groupEntity.cipher}"></option>
                                <!--/*@thymesVar id="groupList" type="java.util.List"*/-->
                                <th:block th:if="${groupList!=null}">
                                    <!--/*@thymesVar id="group" type="com.tr1nksgroup.model.entities.GroupEntity"*/-->
                                    <option th:each="group:${groupList}" th:value="${group.id}" th:text="${group.cipher}"></option>
                                </th:block>
                            </select>
                        </th:block>
                        </td>
                        <th:block th:if="*{showHiddenColumns}">
                            <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).CODE.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                            <input th:readonly="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}" type="text" class="form-control input-sm"
                                   th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.code}"></td>
                        </th:block>

                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).LOGIN.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input th:readonly="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}" type="text" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.login}"></td>

                        <th:block th:if="*{showHiddenColumns}">
                            <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).INIT_PASSW.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                            <input th:readonly="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].readonly}" type="text" class="form-control input-sm"
                                   th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.initPassword}"></td>
                        </th:block>


                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).BUDGET_OR_RATE.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input readonly type="checkbox" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.budget}"></td>

                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).IMAGINE.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input readonly type="checkbox" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.imagine}"></td>

                        <td th:replace="common/student::mytr(${T(com.tr1nksgroup.model.models.enums.person.TableColumnIndexes).OFFICE.index},
                                                         ${studentEntityTableWrapper.cellIndex},
                                                         ${studentEntityTableWrapper.cellStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.rowStyle.toStyleClass()},
                                                         ${studentEntityTableWrapper.message})"></td>
                        <input readonly type="checkbox" class="form-control input-sm"
                               th:field="*{studentEntityTableWrappers[__${studentEntityWrapperIter.index}__].studentEntity.office}"></td>
                    </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="uploadError" type="java.lang.Boolean"*/-->
                <th:block th:if="${uploadError==null||uploadError==false}">
                    <div id="studentTable-table-buttons-div" class="text-center col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--<button type="submit" formaction="/sssss">Submit to err</button>-->
                            <button type="submit" formaction="/c/student/budget/set" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Установить бюджет</button>
                            <button type="submit" formaction="/c/student/imagine/set" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Установить Imagine</button>
                            <button type="submit" formaction="/c/student/office/set" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Установить Office-365</button>
                        </div>
                        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" formaction="/c/student/budget/rem" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Снять бюджет</button>
                            <button type="submit" formaction="/c/student/imagine/rem" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Снять Imagine</button>
                            <button type="submit" formaction="/c/student/office/rem" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Снять Office-365</button>
                        </div>
                        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" formaction="/c/student/edit/start" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Редактировать</button>
                            <button type="submit" formaction="/c/student/email" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Отправить e-mail с данными</button>
                            <button type="submit" formaction="/c/student/archive" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Получить архив</button>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${uploadError!=null&&uploadError==true}">
                    <div id="studentTable-table-err-buttons-div" class="text-center col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <button type="submit" formaction="/c/student/upload/repeat" class="btn btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Повторить</button>
                    </div>
                </th:block>
            </form>
            <script th:replace="includes/service/jsIncludes :: tableSelectCheckboxJs"></script>
        </div>
    </th:block>
</div>
<footer></footer>
</body>
<td th:fragment="mytr(id,cellIndex,cellStyle,rowStyle,message)"
    th:classappend="${__${id}__==__${cellIndex}__}?__${cellStyle}__:__${rowStyle}__"
    th:title="${__${id}__==__${cellIndex}__}?${message}:null">
</html>
