<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/service/head :: normal(pageTitle='Students')">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/theme/css/bootstrap.css"><!--debug-->
</head>
<style>/*<!--fixme remove to css-->*/
input[type="checkbox"][readonly] {
    pointer-events: none;
}

input[type="checkbox"] {
    width: 27px;
    height: 27px;
}
</style>
<body>
<header th:include="includes/components/header::headerStandart"></header>
<div>
    <div id="filter-div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    </div>
    <br>
    <hr>
    <div id="atudent-table-div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
        <!--The shortest way is using '?' operator. If you have User entity with embedded Address entity in order to access fields of Address entity and print them if address is not null, otherwise here will be an empty column:-->
        <!--<td th:text="${user?.address?.city}"></td>-->
        <!--/*@thymesVar id="studentModel" type="com.tr1nksgroup.model.models.person.student.StudentModel"*/-->
        <form th:action="@{/c/student/test}" th:object="${studentModel}" method="post">
            <button type="submit" class="btn btn-success">subm</button>
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="form-control input-sm" title="выделить/снять выделение всех">
                    </td>
                    <!--<td><input type="checkbox"  title="выделить/снять выделение всех"></td>-->
                    <td><span class="form-control input-sm">№</span></td>
                    <td><span class="form-control input-sm">Фамилия</span></td>
                    <td><span class="form-control input-sm">Имя</span></td>
                    <td><span class="form-control input-sm">Отчество</span></td>
                    <td><span class="form-control input-sm">Группа</span></td>
                    <td><span class="form-control input-sm">ЕДБО</span></td>
                    <td><span class="form-control input-sm">e-mail login</span></td>
                    <!--<td><span class="form-control">password</span></td>-->
                    <td><span class="form-control input-sm">Бюджет</span></td>
                    <td><span class="form-control input-sm">Imagine</span></td>
                    <td><span class="form-control input-sm">Office</span></td>
                </tr>
                </thead>
                <tbody>
                <!--th:class="${T(com.tr1nksgroup.model.models.enums.person.TableRowStyleClass).DANGER.toStyleClass()}"-->
                <tr th:each="studentEntityWrapper,studentEntityWrapperIter:*{studentList}">
                    <!--th:class="${T(com.tr1nksgroup.model.models.enums.person.TableRowStyleClass).DANGER.toStyleClass()}"-->
                    <td><input type="checkbox" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].checked}">
                        <input readonly type="hidden" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.initPassword}">
                        <input readonly type="hidden" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.id}">
                    </td>
                    <!--<td><input type="checkbox" th:field="*{studentList[__${studentEntityWrapperIter.index}__].checked}"></td>-->
                    <td><span class="form-control input-sm" th:text="${studentEntityWrapperIter.count}"></span></td>
                    <!--<input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].patronymic}">-->
                    <!--th:class="${T(com.tr1nksgroup.model.models.enums.person.TableRowStyleClass).DANGER.toStyleClass()}"-->
                    <td th:classappend="${1==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${1==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null">
                        <input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.surname}"></td>
                    <td th:classappend="${2==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${2==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null">
                        <input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.name}"></td>
                    <td th:classappend="${3==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${3==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.patronymic}"></td>
                    <td th:classappend="${4==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${4==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.group}"></td>
                    <td th:classappend="${5==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${5==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.code}"></td>
                    <td th:classappend="${6==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${6==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.login}"></td>
                    <!--<td><input readonly type="text" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.initPassword}"></td>-->
                    <td th:classappend="${7==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${7==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="checkbox" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.budget}"></td>
                    <td th:classappend="${8==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${8==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="checkbox" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.imagine}">
                    </td>
                    <td th:classappend="${9==__${studentEntityWrapper.cellIndex}__}?
                    __${studentEntityWrapper.cellStyle.toStyleClass()}__:__${studentEntityWrapper.rowStyle.toStyleClass()}__"
                        th:title="${9==__${studentEntityWrapper.cellIndex}__}?
                        ${studentEntityWrapper.message}:null"><input readonly type="checkbox" class="form-control input-sm" th:field="*{studentList[__${studentEntityWrapperIter.index}__].studentEntity.office}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<footer></footer>
</body>
</html>