<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="normal">
    <!--<meta charset="UTF-8">-->
    <link rel="stylesheet" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/css/bootstrap-theme.css}"/>
    <!--<link rel="stylesheet" th:href="@{~/css/angular-bootstrap.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{~/css/grid.css}"/>-->
    <!--<link rel="stylesheet" href="/theme/css/base.css"/>-->
</head>
<head>
    <link th:fragment="inputStyle" rel="stylesheet" th:href="@{~/css/input-style.css}"/>
</head>
<body>
</body>
</html>