<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:fragment="jquery" th:src="@{~/js/jquery-3.2.1.min.js}"></script>
    <script th:fragment="bootstrapJs" th:src="@{~/theme/js/bootstrap.min.js}"></script>
    <script th:fragment="tableSelectCheckboxJs" th:src="@{~/js/checkboxSelect.js}"></script>
    <script th:fragment="filterScriptsJs" th:src="@{~/js/filterScripts.js}"></script>
</head>
<head th:fragment="normal">
    <script th:replace="includes/service/jsIncludes :: jquery"></script>
    <script th:replace="includes/service/jsIncludes :: bootstrapJs"></script>
</head>
</html>